body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 27px;
}

a {
    text-decoration: none;
    color: inherit; /* herda a cor de antes e não a cor padrão de link */
}

.link_sobre {
    /* text-decoration: underline; */
    font-weight: bold;
}

.link_sobre:hover {
    background-color: #fff;
    color: #AE337A;
}

#capa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #121841;
    min-height: 100vh;
    margin: 0 auto;
}

#sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    background-color: #AE337A;
    min-height: 100vh;
    margin: 0 auto;
}

.social {
    text-decoration: none;
    margin: 0 10px;
}

.titulo {
    font-size: 52px;
    line-height: 78px;
}

.subtitulo {
    font-size: 22px;
    line-height: 33px;
}

.infoconteudo {
    min-height: 100vh;
}

.icon {
    width: 2.5em;
}

.icon:hover {
    transform: scale(1.3);
    /* filter: drop-shadow(3px 2px 1px rgba(187, 187, 187, 0.2)); */
}

.conteudo {
    color: #fff;
}

.segura-texto {
    margin: 0 auto;
    max-width: 900px;
}

.titulo {
    font-size: 50px;
    line-height: 75px;
}

.homecontato {
    margin-top: 20px;
}

#comunidade {
    min-height: 100vh;
    margin: 0 auto;
    background-color: #3473B1;
}

#profissional {
    min-height: 100vh;
    margin: 0 auto;
    background-color: #008CBB;
    display: flex;
}

.profissional-conteudo {
    margin: 100px;
    width: 40%;
}

.titulo_secao {
    font-family: 'Pacifico';
    font-size: 60px;
    margin-bottom: 40px;
}

.logo_experiencia {
    width: 2.5em;
    border-radius: 50%;
}

.experiencia {
    display: flex;
    text-align: justify;
    gap: 0.6em;
    margin-top: 3em;
}

.parte_texto {
    flex-direction: column;
}

.nome_funcao {
    font-size: 2.6ch;
    font-weight: bold;
}

.nome_empresa {
    
}

.tempo_empresa {
    font-size: 1.5ch;
}

.texto_experiencia {
    margin-top: 15px;
}