body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 27px;
}

a {
    text-decoration: none;
    color: inherit; /* herda a cor de antes e não a cor padrão de link */
}

#capa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #121841;
    min-height: 100vh;
    margin: 0 auto;
}

#sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    background-color: #AE337A;
    min-height: 100vh;
    margin: 0 auto;
}

#profissional {
    min-height: 100vh;
    margin: 0 auto;
    background-color: #008CBB;
    display: flex;
}

#frase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #121841;
    min-height: 100vh;
    margin: 0 auto;
}

.texto_frase {
    font-size: 30px;
}

.texto_autor {
    font-size: 25px;
    font-family: 'Pacifico';
    margin: 10px 0 50px 0;
}

.link_sobre {
    font-weight: bold;
}

.link_sobre:hover {
    background-color: #fff;
    color: #AE337A;
}

.social {
    text-decoration: none;
    margin: 0 10px;
}

.titulo {
    font-size: 52px;
    line-height: 78px;
}

.subtitulo {
    font-size: 22px;
    line-height: 33px;
}

.infoconteudo {
    min-height: 100vh;
}

.icon {
    width: 2.3em;
    opacity: 0.8;
}

.icon:hover {
    transform: scale(1.2);
    opacity: 1;
}

.conteudo {
    color: #fff;
}

.segura-texto {
    margin: 0 auto;
    max-width: 900px;
}

.titulo {
    font-size: 50px;
    line-height: 75px;
}

.homecontato {
    margin-top: 20px;
}

.profissional-conteudo {
    margin: 100px;
    width: 40%;
}

.titulo_secao {
    font-family: 'Pacifico';
    font-size: 60px;
    margin-bottom: 40px;
}

.logo_experiencia {
    width: 2.5em;
    border-radius: 50%;
}

.experiencia {
    display: flex;
    text-align: justify;
    gap: 0.6em;
    margin-top: 3em;
}

.parte_texto {
    flex-direction: column;
}

.nome_funcao {
    font-size: 2.6ch;
    font-weight: bold;
}

.tempo_empresa {
    font-size: 1.5ch;
}

.texto_experiencia {
    margin-top: 15px;
}
