h1 {
  margin-bottom: 5px;
}

h2 {
  margin: 20px 0 20px 0;
}

.career_sections {
  display: flex;
}

.card_career {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.card_career figure img {
  width: 4rem;
  border-radius: 50px;
  border: 1px solid gray;
}

.card_career figure img:hover {
  transform: scale(1.1);
}

.career_title {
  font-weight: bold;
  font-size: 1.1rem;
}

.career_employee {
  font-weight: bold;
  font-size: 0.7rem;
}

.career_period {
  font-size: 0.7rem;
}

.career_descrition {
  font-size: 0.9rem;
  margin: 0 3rem 3rem 0;
  text-align: justify;
}

.card_education {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.card_education figure img {
  width: 4rem;
  border-radius: 50px;
  border: 1px solid gray;
}

.card_education figure img:hover {
  transform: scale(1.1);
}
