h1 {
  margin-bottom: 5px;
}

.talk_event_name {
  font-size: 0.7rem;
  font-weight: bolder;
  color: gray;
  padding-bottom: 0.3rem;
}

.talk_name_link {
  display: block;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
  height: 5rem;
}

.talk_name_link:hover {
  text-decoration: underline;
}

#talks_cards {
  display: grid;
  /* aqui estamos definindo tamanho */
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  grid-gap: 1.5rem;
}

/* essa é a class da div que envolve o card para os artigos */
.card_talk {
  border: 1px solid gray;
  /* border-radius-interno + padding */
  border-radius: 16px;
  width: 100%;
  padding: 8px;
}

.card_talk:hover {
  transform: scale(1.02);
}

.card_talk > figure > img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 3px;
  border-radius: 8px;
  aspect-ratio: 16 / 9;
}

.event_video {
  display: flex;
  justify-content: space-between;
}

.talk_date {
  font-size: 0.8rem;
}

.talk_tags {
  font-size: 0.7rem;
}

#filter_talk {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}
