@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* variáveis globais para o CSS */
/* para utilizar, chama onde precisa como var(--nome-da-variável) */
:root {
  --icon-social-media-color: black;
  --text-title-color: #002699;
  --li-text-menu: black;
}

body {
  padding: 16px;
  display: flex;
  /* o flex-direction column faz o site ser uma coluna só */
  flex-direction: column;
  gap: 80px;
  height: 100vh;
  justify-content: space-between;
  /* as duas linhas abaixo estão centralizando tudo */
  width: min(100% - 4rem, 960px);
  margin-inline: auto;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-block: 2rem;
}

nav ul {
  display: inline-flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}

li a {
  text-decoration: none;
  color: var(--li-text-menu);
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: small;
  /* padding-block corresponde a espaçamento em cima e embaixo */
  padding-block: 2rem;
}

footer ul {
  list-style: none;
  display: inline-flex;
  height: 2rem;
}

main {
  justify-content: space-between;
  align-items: center;
}

ul li a svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--icon-social-media-color);
  margin: 0.5rem;
}

ul li a svg:hover {
  transform: scale(1.1);
}

.page_information {
  margin-bottom: 20px;
}
