@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* variáveis globais para o CSS */
/* para utilizar, chama onde precisa como var(--nome-da-variável) */
:root {
  --text-title-color: black;
  --li-text-menu: black;
}

body {
  padding: 16px;
  display: flex;
  /* o flex-direction column faz o site ser uma coluna só */
  flex-direction: column;
  gap: 80px;
  height: 100vh;
  justify-content: space-between;
  /* as duas linhas abaixo estão centralizando tudo */
  width: min(100% - 4rem, 960px);
  margin-inline: auto;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-block: 2rem;
}

nav ul {
  display: inline-flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}

li a {
  text-decoration: none;
  color: var(--li-text-menu);
}

li a:hover {
  color: gray;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: small;
  /* padding-block corresponde a espaçamento em cima e embaixo */
  padding-block: 2rem;
}

footer ul {
  list-style: none;
  display: inline-flex;
  height: 2rem;
}

main {
  justify-content: space-between;
  align-items: center;
}

ul li a svg {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
}

ul li a svg:hover {
  transform: scale(1.1);
}

.page_information {
  margin-bottom: 20px;
}

.label_menu,
.checkbox {
  display: none;
}

@media (max-width: 600px) {
  .menu {
    display: block;
    position: absolute;
    top: 4.6875rem;
    left: 0;
    background: #fff;
    text-align: center;
    width: 100%;
    height: 0;
    z-index: 1;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.5s;
  }

  nav {
    display: block;
    position: absolute;
  }

  .menu a {
    padding: 1rem 0;
    margin-inline: 1rem;
    border-radius: 0;
  }

  .label_menu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #000;
    padding-block: 1rem;
    cursor: pointer;
  }

  .hamburger {
    border-top: 0.125rem solid;
    width: 1.25rem;
  }

  .hamburger::before,
  .hamburger::after {
    content: " ";
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    background: currentColor;
    margin-top: 0.3125rem;
    position: relative;
    transition: 0.3s;
  }

  .checkbox:checked ~ .menu {
    height: calc(100vh - 4.6875rem);
    visibility: visible;
    overflow-y: auto;
  }

  .checkbox:checked ~ .label_menu .hamburger {
    border-top: transparent;
  }

  .checkbox:checked ~ .label_menu .hamburger::before {
    transform: rotate(135deg);
  }

  .checkbox:checked ~ .label_menu .hamburger::after {
    transform: rotate(-135deg);
    top: -0.4375rem;
  }
}
