h1 {
  margin-bottom: 5px;
}

article {
  display: flex;
  flex-direction: column;
}

article a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: normal;
  color: black;
  height: 5.8rem;
}

article a:hover {
  text-decoration: underline;
}

#articles_cards {
  display: grid;
  /* aqui estamos definindo tamanho */
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-gap: 1rem;
}

/* essa é a class da div que envolve o card para os artigos */
.card_article {
  border: 1px solid gray;
  /* border-radius-interno + padding */
  border-radius: 16px;
  width: 100%;
  padding: 8px;
}

.card_article:hover {
  transform: scale(1.02);
}

.card_article > figure > img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 3px;
  border-radius: 8px;
  aspect-ratio: 16 / 9;
  filter: grayscale(1);
}

.card_article > figure > img:hover {
  filter: grayscale(0);
}

.article_date {
  font-size: 0.8rem;
}

.article_tags {
  font-size: 0.7rem;
}

.around_p {
  display: flex;
  flex-direction: column;
}

.text_post {
  font-size: 0.7rem;
  font-weight: bolder;
  color: gray;
  padding-bottom: 0.3rem;
}

#filter_article {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.pagination_container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}

.pagination_button {
  padding: 10px 15px;
  margin: 0 5px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination_button:hover {
  background-color: #e9e9e9;
}

.pagination_button.active {
  background-color: black;
  color: white;
  border-color: black;
}
